body {
    background-color: black;
}

h1 {
    color: white;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: .5em;
}

figcaption {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
}