body {
    background-color: black;
}

header #filmList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: .5em;
}

figcaption {
    text-align: center;
    display: block;
    background-color: black;
    color: white;
    margin: 0;
}