body {
    margin: 20px;
    background-color: #311432;
}

.header-pic {
    height: 90px;
    margin-bottom: 1.5em;
}

#bio {
    display: flex;
    height: 230px;
    padding: 5px 5px 5px 5px;
    background-color: #dd571c;
    border: 6px solid #1b0000;
    margin: 10px;
}

#bio>img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#namendate>h2 {
    color: #241571;
    display: flex-end;
}

#choose {
    display: flex-end;
    background-color: #a9a9a9;
    padding: 1px;
    border: 6px double #1b0000;
    margin: 6px;
    width: 750px;
    height: 133px;
}

#choose>h3 {
    text-align: center;
}

#choose>ul {
    color: #2f4f4f;
    margin: 2px 4px;
}

#choose>h3 {
    color: #001c57;
}

#tech {
    display: flex;
    width: auto;
    height: 220px;
    background-color: #00316e;
    justify-content: space-between;
    border: 6px solid #1b0000;
    margin: 10px;
}

figure>img {
    max-height: 150px;
    max-width: 180px;
    padding-top: .5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
    justify-content: center;
}

figcaption {
    background-color: #b3e5fc;
    color: black;
    max-width: 180px;
    text-align: center;
}

#interest {
    width: auto;
    height: 245px;
    background-color: #900603;
    padding: 10px 10px 10px 10px;
    border: 6px solid #1b0000;
    margin: 10px;
}

main {
    margin: 0 auto;
}

.dark {
    height: 2rm;
}

.centered {
    text-align: center;
}

#excited-about {
    background-color: #a9a9a9;
    padding: 12px .25px .25px 12px;
    border: 6px double #1b0000;
    margin: 0 10px;
}

#excited-about>p {
    color: #2f4f4f;
}