* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: darkred;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: whitesmoke;
    text-align: center;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid darkgrey;
    margin: 10px;
}

.button {
    height: 20px;
    width: 100px;
    margin: 10px 50px;
    position: relative;
    top: 80%;
    left: 40%;
}

.card {
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateX(180deg);
    border: 6px darkmagenta solid;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    border: 6px darkblue solid;
    box-shadow: 3px 3px 3px whitesmoke;
}

#loadPokemon {
    color: white;
    background-color: lightseagreen;
    height: 3em;
    padding: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

#fetchPokemon {
    color: white;
    background-color: darkorange;
    height: 3em;
    padding: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

#newPokemon {
    color: white;
    background-color: darkorchid;
    height: 3em;
    padding: 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.card__face--front {
    background: indigo;
    height: 255px;
    width: 195px;
}

.card__face--front img {
    height: 190px;
    width: 180px;
}

.card__face--back {
    background: darkblue;
    transform: rotateX(180deg);
    position: absolute;
    height: 250px;
    width: 195px;
    text-align: center;
}

.card__face--back img {
    position: relative;
    opacity: .25;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    width: 168px;
    text-align: center;
}

.fire {
    background-image: linear-gradient(red, yellow);
}

.water {
    background-image: linear-gradient(turquoise, green);
}

.normal {
    background-image: linear-gradient(blue, purple);
}

.ground {
    background-image: linear-gradient(grey, pink);
}

.fighting {
    background-image: linear-gradient(darkred, darkmagenta);
}

.psychic {
    background-image: linear-gradient(lime, orange);
}

.grass {
    background-image: linear-gradient(darkgreen, navy);
}

.rock {
    background-image: linear-gradient(black, grey);
}

.bug {
    background-image: linear-gradient(brown, darkgreen);
}

.fairy {
    background-image: linear-gradient(#b76cfd, #ff2079);
}

.electric {
    background-image: linear-gradient(#fcf340, #7fff00);
}

.poison {
    background-image: linear-gradient(#00ffee, #d0b4dc);
}