    * {
        margin: .5em;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
        color: whitesmoke;
        text-align: center;
    }
    
    figure>img {
        height: 220px;
    }
    
    figcaption {
        text-align: center;
    }
    
    #main {
        display: flex;
        flex-wrap: wrap;
        margin-top: .5em;
    }