    * {
        margin: .25em;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
        color: whitesmoke;
        text-align: center;
    }
    
    figure>img {
        height: 250px;
    }
    
    figcaption {
        text-align: center;
        margin: 0;
    }
    
    #main {
        display: flex;
        flex-wrap: wrap;
    }